{% extends 'oragePage.html.twig' %}

{% block title %}Admin Panel{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
{% endblock %}
{% block navbody %}
{% block services %}
<div class ="sidebar">
    <div class="sidebar-group">
        <p class="category">Management</p>
        <div class="">
            <a class="orage-btn normalized-button" href="{{ path('app_admin_panel') }}">Admin Panel</a>
        </div>
        <div class="">
            <a class="orage-btn normalized-button" href="{{ path('app_admin_users') }}">Management Utilisateurs</a>
        </div>
        <p class="category">Annonces</p>
        <div class="">
            <a class="orage-btn normalized-button" href="{{ path('app_admin_announces') }}">Création Annonces</a>
        </div>
        <div class="">
            <a class="orage-btn normalized-button" href="{{ path('app_admin_announces_show') }}">Gestion des Annonces</a>
        </div>
        <p class="category">Cours</p>
        <div class="">
            <a class="orage-btn normalized-button" href="{{ path('app_admin_niveau') }}">Création Niveau</a>
        </div>
        <div class="">
            <a class="orage-btn normalized-button" href="{{ path('app_admin_category') }}">Création Catégorie</a>
        </div>
        <div class="">
            <a class="orage-btn normalized-button" href="{{ path('app_admin_cours') }}">Création Cours</a>
        </div>
        <p class="category">Settings</p>
    </div>
</div>
<div class="main-content">
    {% block admincontent %}
    <h1 class ="headtitle category">Panel d'administration</h1>
    {% endblock %}
</div>
{% endblock %}
{% endblock %}
