{% extends 'oragePage.html.twig' %}

{% block title %}Admin Panel{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
{% endblock %}
{% block navbody %}
{% block services %}
<div class ="sidebar">
    <div class="sidebar-group">
        <p class="category">Management</p>
        <div class="">
            <a class="orage-btn normalized-button" href="{{ path('app_admin_panel') }}">Admin Panel</a>
        </div>
        <div class="">
            <a class="orage-btn normalized-button" href="{{ path('app_admin_users') }}">Management Utilisateurs</a>
        </div>
        <p class="category">Annonces</p>
        <p class="category">Settings</p>
    </div>
    {#
    <a href="{{ path('admin_posts') }}">Post Management</a>
    <a href="{{ path('admin_reports') }}">Report Management</a>
    <a href="{{ path('admin_site_settings') }}">Site Settings</a>
    <a href="{{ path('admin_logs') }}">View Logs</a>
    <a href="{{ path('admin_statistics') }}">Statistics</a>
    <a href="{{ path('admin_backup') }}">Backup & Restore</a>
    <a href="{{ path('admin_email_settings') }}">Email Settings</a>
    <a href="{{ path('admin_security_settings') }}">Security Settings</a>
    <a href="{{ path('admin_content_moderation') }}">Content Moderation</a>
    <a href="{{ path('admin_help_support') }}">Help & Support</a>
    #}
</div>
<div class="main-content">
    {% block admincontent %}
    <h1 class ="headtitle category">Panel d'administration</h1>
    {% endblock %}
</div>
{% endblock %}


{% endblock %}
