{% extends "admin_panel/index.html.twig"%}


{% block admincontent %}
    {% include "component/flashRenderer.html.twig" %}
    <h1 class ="headtitle">Gestion des utilisateurs</h1>
    <p>Cette section vous permet de gérer les utilisateurs de la plateforme. Vous pouvez voir la liste des utilisateurs, modifier leurs rôles, ou supprimer des comptes si nécessaire.</p>
    <!-- Ajoutez ici le tableau ou la liste des utilisateurs avec les actions possibles -->
    {{ form(form,{attr: {class : 'd-flex justify-content-start'}}) }}
    <table class="user-table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(users,"Nom d'Utilisateur",'u.username') }}</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Email Vérifié</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                <span>
                {% if user.roles is defined and user.roles|length > 0 %}
                    {{ user.roles|join(', ') }}
                {% endif %}
                </span>
                </td>
                <td>
                    {% if user.isVerified %}<span class="text-success">Vérifié</span>{% else %}<span class="text-danger">Non Vérifié</span>{% endif %}
                </td>
                <td>
                    <a class="orage-btn">Modifier</a>
                    <a href={{ path('app_admin_users_delete',{ id : user.id})}} class="orage-btn-warning" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">Supprimer</a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(users) }}
{% endblock %}
