{% extends "oragePage.html.twig" %}
{% block title lesson.nomCours %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/lesson.css') }}">
{% endblock %}
{% block navbody %}
    {% include "component/flashRenderer.html.twig" %}
    <div class="main-content">
        <div class="layout-grid">
            <!--Sidebar-->
            <div class="tree-container">
                <h3 class="tree-title">
                    <span class="tree-icon">📚</span>
                    Chapitres
                </h3>
                {% if modify %}
                    <a class="btn btn-danger" href={{ url('lesson_chapter_add', {'id':lesson.id})}} >Ajouter un chapitre</a>
                {% endif %}
            </div>
            <section class="courses-section">
                <div class="section-header">
                    <h1 class="section-title">{{ lesson.nomcours }}</h1>
                    {% if user and user.canModifyLesson(lesson) and not modify %}
                        <a class="btn btn-warning" href="{{ url('lesson_show',{'id' : lesson.id,'modify':true}) }}">Modifier</a>
                    {% endif %}
                </div>

                <div class="course-badges">
                    <span class="course-badge badge-categorie" style="background: {{ lesson.categorie.color }};">{{ lesson.categorie.libele }}</span>
                    <span class="course-badge badge-niveau">{{ lesson.niveau.nomNiveau }}</span>
                    <span class="course-badge results-count">{{ lesson.cours|length }} chapitres</span>
                </div>
                <div class="course-content">
                    {% for chapter in lesson.cours %}
                        <div class="">
                            <div class="">
                                <h3 class="course-card-title">Chapitre {{ chapter.ordre }}: {{ chapter.nomChapitre }}</h3>
                                <div class="course-badges">
                                    {% for depot in chapter.getLastestDepots() %}
                                        <div class="depot">
                                            <a href={{ url('app_depot_show_latest',{'identifier': depot.identifier}) }}>Test</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="d-inline-flex  justify-content-center">
                        <a class="btn btn-secondary" href={{ url('lessons') }}>Retour</a>
                    </div>

                </div>
            </section>
        </div>


    </div>

{% endblock %}
