<div id = "navbar" class = "navbar">
    
    {% set navitems = [["home","Accueil"],["lessons","Cours"],["contact","Contact"],["team","Notre Equipe"]] %}
    <div id = "nav-hamburger" class ="navbar-mobile">
        <img src={{ asset("images/list.svg") }} class ="logo">
    </div>
    <script src={{ asset("JS/navbar.js")}}>
    </script>
    {#Balances items in the two containers#}
    <div class="navbar-item-container">
        {% set half = (navitems|length / 2 )|round %}
        {% for i in 0..half-1 %}
             <div class="navbar-item {% if app.request.get('_route') starts with navitems[i][0] %}active{% endif %}">
                <a href="{{ url(navitems[i][0]) }}">{{navitems[i][1]}}</a>
            </div> 
        {% endfor %}
    </div>
    <div class ="navbarlogo">
        <img src={{ asset("images/logo.png") }} alt="logo" class ="logo">
        <p>ORAGE</p>
    </div>
    <div class="navbar-item-container">
        {% for i in half..navitems|length -1 %}
            <div class="navbar-item {% if app.request.get('_route') starts with navitems[i][0] %}active{% endif %}">
                <a href="{{ url(navitems[i][0]) }}">{{navitems[i][1]}}</a>
            </div> 
        {% endfor %}
    </div>
    
</div>