<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="google-site-verification" content="abc">{#TODO : Google search console verification, to complete when published#}
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href={{ asset("images/favicon.ico") }}>
        <link rel="stylesheet" href= {{ asset("styles/palette.css")}}>
        <link rel="stylesheet" href={{ asset("styles/navbar.css") }}>
        <link rel="stylesheet" href={{ asset("styles/app.css") }}>
        <link rel="stylesheet" href={{ asset("styles/effect.css")}}>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

        {% block stylesheets %}

        {% endblock %}

    </head>
    <body class ="orage-background">
        {% block body %}{% endblock %}
    </body>
</html>
