<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href={{ asset("images/favicon.ico") }}>
        <link rel="stylesheet" href= {{ asset("styles/palette.css")}}>
        <link rel="stylesheet" href={{ asset("styles/navbar.css") }}>
        <link rel="stylesheet" href={{ asset("styles/app.css") }}>
        <link rel="stylesheet" href={{ asset("styles/effect.css")}}>
        {% block stylesheets %}
        
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
