<div class ="sidebar">
    <div class="sidebar-group">
        <div class ="action-group">
            <p class="category">Management</p>
            <div class="action">
                <a class="orage-btn normalized-button" href="{{ path('app_admin_panel') }}">Admin Panel</a>
            </div>
            <div class="action">
                <a class="orage-btn normalized-button" href="{{ path('app_admin_users') }}">Management Utilisateurs</a>
            </div>
            <div class="action">
                <a class="orage-btn normalized-button" href="{{ path('app_admin_lesson_show') }}">Gestion des cours</a>
            </div>
            <div class="action">
                <a class="orage-btn normalized-button" href="{{ path('app_admin_category_manage') }}">Gestion des catégories</a>
            </div>
        </div>
        <div class ="action-group">
            <p class="category">Annonces</p>
            <div class="action">
                <a class="orage-btn normalized-button" href="{{ path('app_admin_announces') }}">Création Annonces</a>
            </div>
            <div class="action">
                <a class="orage-btn normalized-button" href="{{ path('app_admin_announces_show') }}">Gestion des Annonces</a>
            </div>
        </div>
        <div class="action-group">
            <p class="category">Creation</p>
            <div class="action">
                <a class="orage-btn normalized-button" href="{{ path('app_admin_niveau') }}">Création Niveau</a>
            </div>
            <div class="action">
                <a class="orage-btn normalized-button" href="{{ path('app_admin_category') }}">Création Catégorie</a>
            </div>
            <div class="action">
                <a class="orage-btn normalized-button" href="{{ path('app_admin_cours') }}">Création Cours</a>
            </div>

        </div>
        <div class="action-group">
            <p class="category">Settings</p>
        </div>

    </div>
</div>
